body{
    background-color: plum;
}

.btn {
    cursor: pointer;
}

body {
    color:royalblue;
    transition: color .5s ease-in-out;
}

.clicked {
    color:sienna;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}